*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

:root{ 
    --color-000: #ffffff;
    --color-050: #b1c5d8;
    --color-100: #b4ff9a;
    --color-200: #71c556;
    --color-300: #258d19;
    --color-400: #007000;
    --color-500: #005200;
    --color-1000: #000000;
}

body{
    background-color: var(--color-050);
    display: flex;
    flex-direction: column;
    align-items: center;
}

html{
    scroll-behavior: smooth;
}

@media (max-width: 550px) {
    img{
        max-width: 100%;
    }
}


/* ################### HEADER STYLES ################### */
header{
    width: 100%;
    background-color: var(--color-000);
    position: sticky;
    top: 0;
    padding: 20px 50px;  
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);   
}

.Header-contenedor{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    width: 165vh;
}

header h1{
    color: var(--color-500);
    font-size: 22px;
}

header nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 70px;
    
}
@media (max-width: 700px) {
    header nav{
        display: none;
    }
}

header nav a{
    text-decoration: none;
    color: var(--color-500);
    font-size: 18px;
    display: flex;
    align-items: center;
    gap: 5px;
}
header nav a:hover{
    color: var(--color-100);
}


/* ################### MAIN STYLES ################### */
main{
    background-color: var(--color-000);
    max-width: 170vh;
}

/* ################### INICIO STYLES ################### */
.Section_Inicio{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px 50px;
    gap: 50px;
    flex-direction: row;
    padding: 20px 40px;
}
@media (max-width: 955px) {
    .Section_Inicio{
        flex-direction: column;
    }
}

.Section_Inicio-texto h2{
    font-size: 40px;
    color: var(--color-500);
    margin-bottom: 20px;
}

.Section_Inicio-texto span{
    font-size: 40px;
    color: var(--color-300);
    margin-bottom: 20px;
}

.Section_Inicio-texto p{
    font-size: 40px;
    color: var(--color-500);
}


/* ################### INICIO STYLES ################### */
.Section_Certificados{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px 50px;
    gap: 50px;
    flex-direction: row;
    padding: 20px 40px;
}

.Section_Certificados-contenedor{
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin-top: 50px;
    justify-content: center;
    flex-wrap: wrap;
}

.Section_Certificados-certificado{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.Section_Certificados-certificado img{
    width: 250px;
    border: 1px solid var(--color-1000);
    border-radius: 15px;
}
.Section_Certificados-certificado img:hover{
    transform: scale(1.15);
    transition: transform 0.3s ease;

}

/* ################### EDUCACION STYLES ################### */
.Section_EducacionYSkills{
    display: flex;
    flex-direction: column;
    padding: 20px 40px;
    margin-top: 50px;
}

.Section_EducacionYSkills h2{
    display: flex;
    right: 0px;
    font-size: 30px;
    color: var(--color-400);
}

.Section_Educacion-contenedor{
    display: flex;
    flex-direction: row;
    gap: 100px;
    margin-top: 50px;
}
@media (max-width: 955px) {
    .Section_Educacion-contenedor .Imagen_SoloPC{
        display: none;
    }
}


/* ################### SKILLS STYLES ################### */
.Section_Skills-contenedor{
    display: flex;
    flex-direction: space-around;
    flex-wrap: wrap;
    gap: 50px;
    padding: 25px;
    margin-top: 25px;
}

.Section_Skills-contenedor img{
    width: 50px;
    color: var(--color-400);
}
.Section_Skills-contenedor img:hover{
    transform: scale(1.1);
    transition: transform 0.3s ease;
}


/* ################### PROYECTOS STYLES ################### */
.Section_Proyectos{
    padding: 20px 40px;
    display: flex;
    flex-direction: column;
    gap: 35px;
    margin-top: 50px;
}

.Section_Proyectos h2{
    display: flex;
    right: 0px;
    font-size: 30px;
    color: var(--color-400);
}

.Section_Proyectos-contenedor{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
}

.Section_Proyectos-proyecto{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 14px;
    border: 1px solid var(--color-1000);
    padding: 15px;
    border-radius: 18px;
    width: 300px;
    /*min-height: 300px;*/
}
.Section_Proyectos-proyecto:hover{
    transform: scale(1.1);
    transition: transform 0.3s ease;
    border-radius: 30px;
}
@media (max-width: 730px) {
    .Section_Proyectos-proyecto{
        width: 500px;
    }
}
@media (max-width: 570px) {
    .Section_Proyectos-proyecto{
        width: 90%;
    }
}


.Section_Proyectos-proyecto h3{
    color: var(--color-500);
}

.Section_Proyectos-proyecto p{
    color: var(--color-400);
    margin-bottom: 20px;
}

.Section_Proyectos-proyecto--skills{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

.Section_Proyectos-proyecto--skills span{
    border: 1px solid var(--color-1000);
    padding: 3px;
    color: var(--color-1000);
    background-color: var(--color-100);
    border-radius: 5px;
}

.Section_Proyectos-proyecto a button{
    margin-top: 10px;
    padding: 7px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: var(--color-200);
    bottom: 10px;
    border-radius: 8px;
}
.Section_Proyectos-proyecto a button:hover{
    color: var(--color-100);
    background-color: var(--color-300);
}


/* ################### CONTACTO STYLES ################### */
.Section_Contacto{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    padding: 20px 40px;
}

.Section_Contacto h2{
    display: flex;
    right: 0px;
    font-size: 30px;
    color: var(--color-400);
}

.Section_Contacto-contenedor{
    display: flex;
    flex-direction: row;
    gap: 70px;
    margin-top: 50px;
    margin-left: 50px;
}
@media (max-width: 655px) {
    .Section_Contacto-contenedor{
        flex-direction: column;
        align-items: center;
    }
}

.Section_Contacto-contenedor .imagen-contacto{
    width: 300px;
}
@media (max-width: 560px) {
    .Section_Contacto-contenedor .imagen-contacto{
        display: none;
    }
}

.Section_Contacto-contenedor-contactos{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
@media (max-width: 655px) {
    .Section_Contacto-contenedor-contactos{
        flex-direction: row;
        align-items: center;
        gap: 25px;
        justify-content: center;
    }
}
@media (max-width: 560px) {
    .Section_Contacto-contenedor-contactos{
        flex-direction: column;
        align-items: right;
        justify-content: right;
    }
}

.Section_Contacto-contenedor-contactos img{
    width: 50px;
    color: var(--color-400);
    border-radius: 10px;
}

.Section_Contacto-contenedor-contactos a{
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: left;
    text-decoration: none;
}
.Section_Contacto-contenedor-contactos a:hover{
    transform: scale(1.1);
    transition: transform 0.3s ease;
}

.Section_Contacto-contenedor-contactos span{
    text-decoration: none;
    color: var(--color-500);
    font-size: 18px;
    display: flex;
    align-items: center;
    gap: 5px;
}
.Section_Contacto-contenedor-contactos span:hover{
    color: var(--color-100);
}

